h1, h2, h3, h4
{
    font-family: 'Righteous', cursive;
}

h1
{
    margin: 40px;
    font-size: 80px;
}

.round-border
{
    border-radius: 5px;    
}

.solid-border
{
    border-style: solid;
    border-width: thin;
}

.gray-border
{
    border-color: #D0D0D0;
}

.gray-hr
{
    background-color: #D0D0D0;
}

.outer-margin
{
    margin: 10px;
}

.yellow-text
{
    color: #ffc107;
}

.no-margin
{
    margin: 0px;
}

.no-padding
{
    padding: 0px;
}